@model List<MultipleSteamCredentialsViewModel>

@if (@Model.Count != 0)
{
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th class="th-sm">
                    Image
                </th>
                <th class="th-sm">
                    Shared Games
                </th>
                <th class="th-sm">
                    Game ID
                </th>
                <th class="th-sm text-center">
                    @Model[0].SteamName1 (mins)
                </th>
                <th class="th-sm text-center">
                    @Model[0].SteamName2 (mins)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.OrderByDescending(i => i.PlayTimeAll1+i.PlayTimeAll2))
            {
                <tr>
                    <td> <img src="@item.GameImage" /></td>
                    <td>@item.GameName</td>
                    <td>@item.GameId</td>
                    @if (item.PlayTimeAll1>item.PlayTimeAll2)
                    {
                        <td class="text-center bg-success">@item.PlayTimeAll1</td>
                        <td class="text-center" >@item.PlayTimeAll2</td>
                    }
                    else if (item.PlayTimeAll1 == item.PlayTimeAll2)
                    {
                        <td class="text-center">@item.PlayTimeAll1</td>
                        <td class="text-center">@item.PlayTimeAll2</td>
                    }
                    else
                    {
                        <td class="text-center">@item.PlayTimeAll1</td>
                        <td class="text-center bg-success">@item.PlayTimeAll2</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p class="text-danger">Unfortunately, this player’s profile is not publicly available. </p>
        <p class="text-danger">I am unable to display the player's library. </p>
    </div>
}

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}