@model List<Category>



<div class="row">
    <div class="container col-11 text-end m-3">
        <a class="btn btn-info btn-outline-dark" asp-controller="Category" asp-action="Create"> Create Category </a>
    </div>
</div>


<div class="row text-center col-12 mt-3">
    <div class="container  col-6">
        <table class="table">
            <thead>
            <th>
                CategoryID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
            </thead>

            <tbody>
                @foreach (var category in Model.OrderBy(c => c.DisplayOrder))
                {
                    <tr>
                        <td> @category.Id </td>
                        <td> @category.Name </td>
                        <td> @category.DisplayOrder </td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">
                                <i class="bi bi-pencil-square icon-blue"></i>
                                </a>
                        </td>
                        <td>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                <i class="bi bi-x-square icon-red"></i>
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container  col-6">
        <table class="table">
            <thead>
            <th>
                CategoryID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
            </thead>

            <tbody>
                @foreach (var category in Model.OrderBy(c => c.DisplayOrder))
                {
                    <tr>
                        <td> @category.Id </td>
                        <td> @category.Name </td>
                        <td> @category.DisplayOrder </td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">
                                <i class="bi bi-pencil-square icon-blue"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                <i class="bi bi-x-square icon-red"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<style>
    thead{
        background-color: #1b2838;
        color: #c7d5e0
    }
    tr{
        background-color: #1b2838;
        color: white
    }
/*     i{
        color: #1b2838
    }
    i:hover{
        color: #66c0f4
    } */
</style>

